.cover_page {
    position: fixed;
    background: rgba(53, 53, 53, 0.589);
    inset: 0;
    z-index: 2;
    cursor: no-drop;
    display: none;
}

.searchbar {
    position: fixed;
    z-index: 3;
    inset: 0;
    background: rgb(53 53 53 / 79%);
    display: none;
}

.searchbar.active {
    display: block;
}

.content_searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content_searchbar form {
    display: flex;
    margin: 10px;
    position: relative;
}

.content_searchbar form input {
    width: 350px;
    height: 45px;
    padding: 15px;
    background: #75757552;
    border-width: 0 2px 2px 0;
    border-color: var(--black);
    max-width: 100%;
    color: var(--color-main);
}

.content_searchbar form .search_icon {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

.close_btn_searchbar,
.search_icon {
    width: 20px;
    cursor: pointer;
}

.menu_mobile {
    position: fixed;
    background: rgb(53, 53, 53);
    top: 0;
    bottom: 0;
    max-width: 300px;
    width: 100%;
    padding: 20px 0;
    overflow: auto;
    z-index: 3;
    right: -100%;
    transition: .3s;
}

.menu_mobile .menu li {
    position: relative;
}

.menu_mobile .menu li a {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: var(--color-main);
}

.menu_mobile .menu li a:hover {
    background: rgba(0, 0, 0, .2);
    box-shadow: inset 0 -1px transparent;
    transform: scale(.95);
}

.menu_mobile .menu li .sub_list {
    background-color: rgb(53, 53, 53);
    backdrop-filter: calc(3);
    width: 70%;
    margin: 0px 15%;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    display: none;
}

.menu_mobile .menu li:hover .arrow {
    transform: rotate(180deg);
}

.menu_mobile .menu li:hover .sub_list {
    opacity: 1;
    visibility: visible;
    display: block;

}

.bottom_menu_mobile {
    position: absolute;
    bottom: calc(0%);
    right: 0;
    left: 0;
}

.bottom_menu_mobile ul {
    display: flex;
    justify-content: space-evenly;
}

.bottom_menu_mobile ul li {
    display: block;
    width: 100%;
}

.bottom_menu_mobile ul li a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: var(--color-main);
    border: 1px solid var(--black);
    font-size: 20px;
}

.bottom_menu_mobile ul li a svg {
    width: 35px;
    max-width: 100%;
    height: 35px;
    max-height: 100%;
}

.close_btn {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    color: var(--gray);
    cursor: pointer;
}

.content_header {
    padding: 40px 40px 40px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
    height: auto;
}

.list>ul {
    display: flex;
}

.list ul li {
    position: relative;
}

.list ul li a {
    position: relative;
    margin: 0 5px;
    padding: 0px 5px 0px 10px;
    display: flex;
    justify-content: space-between;
    color: var(--black);
}

.list ul li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 10px;
    background: var(--beige);
    width: 100%;
    opacity: 0.8;
    z-index: -1;
    transition: 0.3s;
    height: 0;
}

.list ul li a:hover:before {
    height: 10px;
}

.list .sub_list {
    padding: 20px 0;
    position: absolute;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    width: 200px;
    border-radius: 5px;
    top: 150%;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
}

.list ul li:hover .sub_list {
    opacity: 1;
    visibility: visible;
    top: 125%;
}

.list ul li:hover .arrow {
    transform: rotate(180deg);
}

.list .sub_list li a {
    margin: 0;
    padding: 5px 5px;
}

.list .sub_list li a:hover {
    color: var(--orange);
    background-color: var(--gray);
}

.list .sub_list li a:hover::before {
    height: 0;
}

.arrow {
    width: 10px;
    margin-right: 5px;
    transition: 0.3s;
}

.left_header .icons ul {
    display: flex;
}

.left_header .icons ul li a {
    display: flex;
    color: var(--black);
    width: 20px;
    height: 20px;
    margin: 0px 10px;
    transition: 0.3s;
    color: var(--orange);
    opacity: 0.6;
}

.left_header .icons ul li a:hover {
    opacity: 1;
}

.menu_logo {
    width: 20px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width : 768px) {
    .menu_mobile.active {
        right: 0;
    }

    .menu_logo,
    .cover_page {
        display: block;
    }

    .center_header,
    .left_header {
        display: none;
    }
}