.details {
    padding: 20px;
}

.details .content {
    padding: 20px;
    box-shadow: 0 0 10px 0px #00000026;
}

.details .content h3 {
    font-size: 20px;
    color: #000;
    font-weight: 800;
}

.details a {
    color: #000;
    text-decoration: underline;
}

.form_update {
    text-align: right;
}

.form_update label {
    margin-bottom: 5px;
    font-size: 13px;
    color: #000;
    font-weight: 700;
}

.form_update input {
    font-size: 13px;
    margin-bottom: 5px;
    width: 100%;
}